<%- include('layout/header')%>
<div class="about_box">
    Welcome to our CRUD application inspired by Naruto! Our application combines the power of CRUD operations with the spirit of Naruto, bringing you a user-friendly experience that's as dynamic and versatile as the characters in the Naruto series. Just like Naruto's journey to become the strongest ninja, our application is constantly evolving and improving. Whether you're adding new users, editing existing ones, or deleting outdated data, our CRUD application empowers you to take control of your data with ease. Join us on this epic adventure as we harness the power of technology and the spirit of Naruto to create something truly extraordinary!
    
    </div>
<%-include('layout/footer') %>
